<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YUST</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>
  <body>
    <h1>York University Salary Table - 20{{year}}</h1>
    <div>

      <h2>Search</h2>
    </div>
    <div id="johnorgo">
      <form method="POST">
        <select id="year" name="year">
          <option value="" disabled selected>Year</option>
          <option value="21">2021</option>
          <option value="22">2022</option>
          <option value="23">2023</option>
        </select>
        <input type="text" id="fname" name="fname" placeholder="First Name" />
        <input type="text" id="lname" name="lname" placeholder="Last Name" />
        <input
          type="text"
          id="position"
          name="position"
          placeholder="Position Title"
        />
        <input
          type="number"
          id="minsal"
          name="minsal"
          placeholder="Minimum Salary"
        />
        <input
          type="number"
          id="maxsal"
          name="maxsal"
          placeholder="Maximum Salary"
        />
        <input type="submit" value="Search" />
      </form>
    </div>
    <div id="table-wrap">
      <h3>{{ "%d results" | format(count) }}</h3>
        <table style="overflow-y: scroll; height: 10vh;">
          <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Position Title</th>
            <th>Salary</th>
          </thead>
          <tbody>
            {% for employee in results %}
            <tr>
              <td>{{ employee[1] }}</td>
              <td>{{ employee[0] }}</td>
              <td>{{ employee[2] }}</td>
              <td>{{ "$%0.2f" | format(employee[3]) }}</td>
            </tr>
            {% endfor %}
          </tbody>          
        </table>
        </div>

  </body>
</html>
